<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<gazebo>
	<plugin name="front_wheel" filename="libgazebo_ros_diff_drive.so">
    	<!-- Wheel Information -->
        <left_joint>wheel1_joint</left_joint>
        <right_joint>wheel2_joint</right_joint>
        <wheel_separation>0.064</wheel_separation>
        <wheel_diameter>0.098</wheel_diameter>
 
        <!-- Limit -->
        <max_wheel_torque>200</max_wheel_torque>
        <max_wheel_acceleration>10.0</max_wheel_acceleration>
 
        <!-- Output -->
        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>
 
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>
 
	</plugin>
  	</gazebo>

	<gazebo>
	<plugin name="rear_wheel" filename="libgazebo_ros_diff_drive.so">
    	<!-- Wheel Information -->
        <left_joint>wheel3_joint</left_joint>
        <right_joint>wheel4_joint</right_joint>
        <wheel_separation>0.064</wheel_separation>
        <wheel_diameter>0.098</wheel_diameter>
 
        <!-- Limit -->
        <max_wheel_torque>200</max_wheel_torque>
        <max_wheel_acceleration>10.0</max_wheel_acceleration>
 
        <!-- Output -->
        <odometry_frame>odom</odometry_frame>
        <robot_base_frame>base_link</robot_base_frame>
 
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>
 
	</plugin>
  	</gazebo>

</robot>
